@page "/todo"

<h3>Pending tasks (@todos.Count(t=>!t.IsDone))</h3>
<ul>
    @foreach (var item in todos)
    {
        <li>
            <input type="checkbox" @bind="item.IsDone">
            <input @bind="item.Title">
        </li>
    }
</ul>

<input placeholder="Something..." @bind="newTodo">
<button @onclick="AddTodo">Add todo item</button>

@code {

    private List<TodoItem> todos = new();
    private string newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem{Title= newTodo});
            newTodo = string.Empty;
        }
    }

}
